<!Doctype html>
<app-menu></app-menu>
<div class="container">
                <h1 style="text-align: center;color: cornflowerblue">ToDo Application</h1>
                <p style="text-align: center">A simple application to create a list of tasks
                   built using Angular 2, ASP.NET web service, Typescript and Bootstrap CDN
                </p>
  <div style="margin-top: 5%">
      <div style="text-justify: auto" class="part1"><h3>Angular</h3>
                <p>Angular is the next version of Google's massively popular MV* framework
                   for building complex applications in the browser "and beyond"
                </p>
      </div>
        <div class="part2" style="text-justify: auto"><h3>Typescript</h3>
               <p>Typescript is a typed superset of Javascript that compiles to plain
                Javascript.Any Browser.Any Host.Open source</p>
        </div>
          <div style="text-justify: auto" class="part3"><h3>Bootstrap</h3>
               <p>A modern responsive styling framework based on Bootstrap design.
                  Created and maintained by Bootstrap</p>
          </div>
            <div class="part4" style="text-justify: auto"><h3>Web API</h3>
                <p>A Web Service is programmable application logic accessible via standard
                   Web protocols (XML for data description and HTTP for transport) to
                   encode and transmit application data.</p>
            </div>
  </div>
</div>
